.errorContainer {
    max-width: var(--layoutWidthMax);
    margin: 0 auto;
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
}

.BannerContainer {
    clear: both;
    margin: 0 auto;
    max-width: 86%;
    padding: 0 50px;
    position: relative;
}

.HeroError {
    position: relative;
    height: 24rem;
    background-size: cover;
    background-color: #080F1E;
    text-align: center;
    margin-bottom: 70px;
}

.curve {
    z-index: 1;
    position: absolute;
    bottom: 0;
    width: 180%;
    margin-left: -40%;
    border-radius: 50%;
    box-shadow: 0 100px 0 #fff;
    -webkit-animation-timing-function: cubic-bezier(.39, .575, .565, 1);
    animation-timing-function: cubic-bezier(.39, .575, .565, 1);
}

.HeroError .HeaderContent {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    z-index: 2;
    position: relative;
    padding-top: 10rem;
}

.Headline {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
}

.HeroError .heading2 {
    color: var(--blue-light);
    font-size: calc(60rem/16);
    font-weight: 500;
    letter-spacing: -.7px;
    line-height: calc(70/60);
}


/*650px*/

@media (max-width: 650px) {
    .BannerContainer {
        padding: 0 20px;
    }
}


/*1100px*/

@media (max-width: 1100px) {
    .BannerContainer {
        max-width: 100% !important;
    }
    .HeroError .heading2 {
        font-size: calc(30rem/16);
        line-height: calc(40/32);
    }
}


/*1201px*/

@media (min-width: 1201px) {
    .curve {
        height: 1000px;
        -webkit-animation: curve-load-animation-xl .8s;
        animation: curve-load-animation-xl .8s;
    }
}


/*769px - 1200px*/

@media (min-width: 769px) and (max-width: 1200px) {
    .HeroError {
        height: 21rem;
    }
    .curve {
        height: 700px;
        -webkit-animation: curve-load-animation-lg .8s;
        animation: curve-load-animation-lg .8s;
    }
    .HeroError .HeaderContent {
        padding-top: 10rem;
    }
}


/*545px - 768px*/

@media (min-width: 545px) and (max-width: 768px) {
    .HeroError {
        height: 20rem;
    }
    .curve {
        height: 500px;
        -webkit-animation: curve-load-animation-lg .8s;
        animation: curve-load-animation-lg .8s;
    }
    .HeroError .HeaderContent {
        padding-top: 10rem;
    }
}


/*544px*/

@media only screen and (max-width: 544px) {
    .HeroError {
        height: 19rem;
    }
    .curve {
        height: 400px;
        -webkit-animation: curve-load-animation-lg .8s;
        animation: curve-load-animation-lg .8s;
    }
    .HeroError .HeaderContent {
        padding-top: 9.5rem;
    }
}

.notFound {
    text-align: center;
}

.notFound h1 {
    color: #080F1E;
    font-weight: 500;
    max-width: 100%;
    margin-bottom: 1.5rem;
    line-height: 1;
}

.notFound p {
    font-size: 20px;
    line-height: 140%;
    text-align: center;
    color: #080F1E;
    max-width: 500px;
    margin: 20px auto;
}

.display {
    font-size: calc(var(--heading-two)*var(--scale));
}

.blueBtn {
    border: 1px solid #4979FF;
    padding: 14px 20px;
    background: #4979FF;
    border-radius: 1px;
    font-style: normal;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    position: relative;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    display: inline-block;
}

.blueBtn:before {
    content: '';
    position: absolute;
    top: 0;
    right: -50px;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-right: 50px solid transparent;
    border-bottom: 50px solid #2a59da;
    transform: translateX(-100%);
    transition: 0.5s ease-in-out;
}

.blueBtn:hover {
    color: #FFFFFF;
    z-index: 1;
    border-color: #4979FF;
}

.blueBtn:hover:before {
    transform: translateX(0);
}

.notFound a {
    min-width: 265px;
}


/*max 599px*/

@media (max-width: 599px) {
    .notFound p {
        font-size: 1rem;
    }
}


/*767px*/

@media (max-width: 767px) {
    .notFound a {
        min-width: 200px;
    }
}


/*1080px*/

@media (min-width: 1080px) {
    .display {
        font-size: calc(var(--display)*var(--scale));
    }
}