.HeroContact {
    position: relative;
    padding: 250px 0 110px;
    background-size: cover;
    background-color: #080f1e;
    overflow: hidden;
}

.HeroContact .bannerBg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url(../public/pixacod-faces.png);
    background-size: cover;
    background-position: 50%;
    -webkit-animation: fadeIn 1.2s;
    animation: fadeIn 1.2s;
    -webkit-animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.ContactContainer {
    z-index: 2;
}

.container {
    clear: both;
    margin: 0 auto;
    max-width: 86%;
    padding: 0 50px;
    position: relative;
}

.HeroContact h1 {
    color: #5972f3;
    margin-bottom: 10px;
    text-transform: lowercase;
    font-size: calc(95rem / 16);
    font-weight: var(--fontWeightMedium);
    margin: 0;
    letter-spacing: -0.45px;
    line-height: calc(95 / 72);
}


/*------------------------------------*\
    # block.WaysToConnect
\*------------------------------------*/

.WaysToConnect article {
    padding-bottom: calc(100px * var(--scale));
    max-width: calc(970px * var(--scale));
}

.WaysToConnect h1 {
    color: var(--primary-color);
    font-size: calc(6rem * var(--scale));
    padding-top: calc(150px * var(--scale));
    padding-bottom: calc(70px * var(--scale));
    letter-spacing: -1px;
    line-height: calc(94 / 72);
    font-weight: var(--fontWeightMedium);
}

.WaysToConnect p {
    font-size: calc(28rem / 16);
    font-weight: var(--fontWeightRegular);
    letter-spacing: 0.2px;
    line-height: calc(36 / 28);
}

@media only screen and (max-width: 768px) {
    .WaysToConnect h1 {
        font-size: calc(4rem * var(--scale));
    }
}

@media (min-width: 769px) and (max-width: 991px) {
    .WaysToConnect article {
        max-width: calc(900px * var(--scale));
    }
}

@media (min-width: 769px) and (max-width: 991px) {
    .WaysToConnect article {
        max-width: 100%;
    }
}

@media (min-width: 769px) and (max-width: 1200px) {
    .WaysToConnect h1 {
        font-size: calc(5rem * var(--scale));
    }
}


/*------------------------------------*\
    # block.companyinfo
\*------------------------------------*/

.CompanyInfoWrapper {
    padding: 0 0 5vh 0;
}

.CompanyInfoWrapper .header .heading3 {
    color: var(--blue2);
    font-size: calc(32rem / 16);
    font-weight: var(--fontWeightMedium);
    letter-spacing: -0.3px;
    line-height: calc(40 / 32);
    margin-bottom: 10vh;
}

.CompanyInfo .card {
    padding-bottom: 10vh;
    color: #080f1e;
}

.CompanyInfo .card p {
    color: var(--primary-color);
    font-size: calc(20rem / 16);
    font-weight: var(--medium);
    letter-spacing: -0.6px;
    line-height: 1;
    margin-bottom: 2.5vh;
    text-transform: none;
}

.CompanyInfo .card .list {
    font-size: calc(13.61905px + 0.11905vw);
    line-height: calc(19.2381px + 0.2381vw);
    letter-spacing: none;
}

@media only screen and (min-width: 544px) {
    .CompanyInfo .information {
        display: flex;
        flex-flow: row wrap;
    }
    .CompanyInfo .information .card {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: calc(49.95% - 20px);
        max-width: calc(49.95% - 20px);
        width: calc(49.95% - 20px);
    }
    .CompanyInfo .information .card:nth-child(1n) {
        margin-right: 40px;
        margin-left: 0;
    }
    .CompanyInfo .information .card:nth-child(2n) {
        margin-right: 0;
        margin-left: auto;
    }
    .CompanyInfo .information .card:last-child {
        margin-right: 0;
    }
}

@media only screen and (min-width: 768px) {
    .CompanyInfo .information .card {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: calc(33.3% - 26.66667px);
        max-width: calc(33.3% - 26.66667px);
        width: calc(33.3% - 26.66667px);
    }
    .CompanyInfo .information .card:nth-child(1n) {
        margin-right: 40px;
        margin-left: 0;
    }
    .CompanyInfo .information .card:nth-child(3n) {
        margin-right: 0;
        margin-left: auto;
    }
}

@media only screen and (min-width: 1200px) {
    .CompanyInfo .information {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: calc(99.9% * 8 / 12 - (40px - 40px * 8 / 12));
        max-width: calc(99.9% * 8 / 12 - (40px - 40px * 8 / 12));
        width: calc(99.9% * 8 / 12 - (40px - 40px * 8 / 12));
    }
    .CompanyInfo .information:nth-child(1n) {
        margin-right: 40px;
        margin-left: 0;
    }
    .CompanyInfo .information:last-child {
        margin-right: 0;
    }
}


/*768px*/

@media only screen and (max-width: 768px) {
    .CompanyInfoWrapper .header .heading3 {
        margin-bottom: 5vh;
    }
    .CompanyInfo .card {
        padding-bottom: 5vh;
    }
}


/*------------------------------------*\
    # block.companyinfo END
\*------------------------------------*/


/*1100px*/

@media only screen and (max-width: 1100px) {
    .container {
        max-width: 100% !important;
    }
    .HeroContact {
        padding: 120px 0 80px;
    }
    .HeroContact h1 {
        font-size: calc(40rem / 16);
        margin-bottom: 40px;
    }
    .CompanyInfoWrapper .header .heading3 {
        font-size: calc(26rem / 16);
        line-height: calc(38 / 26);
        margin-bottom: 5vh;
    }
}


/*650px*/

@media only screen and (max-width: 650px) {
    .container {
        padding: 0 20px;
    }
    .CompanyInfo .information {}
}

.curve {
    z-index: 1;
    position: absolute;
    bottom: 0;
    width: 180%;
    margin-left: -40%;
    border-radius: 50%;
    box-shadow: 0 100px 0 #fff;
    -webkit-animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
    animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
}


/*1201px*/

@media (min-width: 1201px) {
    .curve {
        height: 1000px;
        -webkit-animation: curve-load-animation-xl 0.8s;
        animation: curve-load-animation-xl 0.8s;
    }
}


/*769px - 1200px*/

@media (min-width: 769px) and (max-width: 1200px) {
    .curve {
        height: 700px;
        -webkit-animation: curve-load-animation-lg 0.8s;
        animation: curve-load-animation-lg 0.8s;
    }
}


/*545px - 768px*/

@media (min-width: 545px) and (max-width: 768px) {
    .curve {
        height: 500px;
        -webkit-animation: curve-load-animation-lg 0.8s;
        animation: curve-load-animation-lg 0.8s;
    }
}


/*544px*/

@media only screen and (max-width: 544px) {
    .curve {
        height: 400px;
        -webkit-animation: curve-load-animation-lg 0.8s;
        animation: curve-load-animation-lg 0.8s;
    }
}