.footer {
    background-color: #080F1E;
    color: #f8f8fb;
    margin-top: 244px;
    padding: 34px 0 52px;
    position: relative;
}

.footer:before {
    background: url('/hero-curve.svg') no-repeat center top;
    background-size: 101% auto;
    content: '';
    height: 100px;
    left: 0;
    position: absolute;
    top: -95px;
    width: 100%;
}

.footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    clear: both;
    margin: 0 auto;
    max-width: 86%;
    padding: 0 50px;
    position: relative;
}

p.heading4 {
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    margin-bottom: 55px;
    padding-bottom: 60px;
}

.heading4 {
    font-size: calc(32rem/16);
    font-weight: 700;
    letter-spacing: -.4px;
    line-height: calc(42/32);
}

.large {
    font-size: calc(20rem/16);
    letter-spacing: 2px;
    line-height: 1;
    margin-bottom: 25px;
    text-transform: none;
}

.footer p .eyebrow {
    color: #8595e0;
}

.eyebrow {
    font-weight: 600;
}

.footer p span:not(.eyebow) {
    display: block;
    margin-bottom: 25px;
    max-width: 960px;
}

.footer .link {
    border-color: #4AFFD8;
}

.link {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    position: relative;
    font-weight: 600);
    font-size: 1rem;
    line-height: 1.8;
    letter-spacing: .0625rem;
    color: #4AFFD8;
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    will-change: transform;
    -webkit-transition: scaleX .8s cubic-bezier(.694, 0, .335, 1), color .8s cubic-bezier(.694, 0, .335, 1);
    transition: scaleX .8s cubic-bezier(.694, 0, .335, 1), color .8s cubic-bezier(.694, 0, .335, 1);
}

.link:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000;
    z-index: 2;
    will-change: transform, color;
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition: -webkit-transform .6s cubic-bezier(.694, 0, .335, 1);
    transition: transform .6s;
    transition: transform .6s, -webkit-transform .6s;
    transition-timing-function: cubic-bezier(.694, 0, .335, 1);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
}

.link:hover:after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
}

.underline {
    border-bottom: 2px solid #eaeaea;
}

.underline span {
    margin-bottom: 0 !important;
}

.animation {
    position: relative;
    margin-bottom: .0625rem;
}

.animation aside {
    display: inline-block !important;
    overflow: hidden;
    position: relative;
}

.animation:hover aside span:first-child {
    -webkit-transform: translateX(400%);
    transform: translateX(400%);
}

.animation:hover aside span:nth-child(2) {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.animation:hover aside span {
    -webkit-transition: .5s cubic-bezier(.75, .25, .25, .75);
    transition: .5s cubic-bezier(.75, .25, .25, .75);
    -webkit-transition-delay: .3s;
    transition-delay: .3s;
}

.underline aside span {
    margin-bottom: 0 !important;
    padding-left: .5rem;
    display: inline-block !important;
    -webkit-transition: none;
    transition: none;
}

.underline aside span:first-child {
    position: relative;
}

.underline aside span:nth-child(2) {
    position: absolute;
    -webkit-transform: translateX(-150%);
    transform: translateX(-150%);
    padding-right: 100%;
    -webkit-transition-delay: .5s;
    transition-delay: .5s;
}

.svgIcon {
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.125rem;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.grid {
    display: grid;
}

.information {
    gap: 30px calc(100/1200*100%);
    grid-template-columns: 215px 1fr;
}

.flexContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.bottomInfo {
    margin-top: 108px;
}

.bottomInfo p {
    margin: 0;
}

.bottomInfo a {
    color: #f8f8fb;
}

.information .column a {
    color: #4AFFD8;
    font-weight: 500;
    letter-spacing: .8px;
}

.information address {
    font-style: normal;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: .6px;
    line-height: calc(26/16);
    margin: 10px 0;
}

.menuFooter {
    display: flex;
    justify-content: space-between;
    margin: 0 auto !important;
    max-width: 888px;
    width: 100%;
}

ul.footerList {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.menuFooter>li>a {
    margin-bottom: 33px;
}

.footerList>li>a {
    color: #8595e0;
    font-size: calc(12rem/14);
    display: block;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.menuFooter li li {
    margin-bottom: 24px;
}

.menuFooter li.social {
    display: inline-block;
    margin-right: 18px;
}

.menuFooter li li a {
    color: #f8f8fb;
    font-weight: 700;
    font-size: calc(18rem/16);
    letter-spacing: .3px;
}

.menuFooter li li a:hover {
    color: #4AFFD8;
}


/*1800px*/

@media only screen and (min-width: 45em) {}


/*782px*/

@media (min-width: 782px) {}


/*720px*/

@media only screen and (min-width: 45em) {
    .animation aside {
        top: 4px;
    }
}


/*600px*/

@media (min-width: 600px) {}


/*480px*/

@media all and (min-width: 480px) {}


/*600-781*/

@media (min-width: 600px) and (max-width: 781px) {}


/*480*/

@media all and (max-width: 480px) {}


/*599*/

@media (max-width: 599px) {}


/*600*/

@media (max-width: 600px) {}


/*640*/

@media all and (max-width: 640px) {}


/*650*/

@media only screen and (max-width: 40.625em) {
    .container {
        padding: 0 20px;
    }
    .bottomInfo p {
        width: 100%;
    }
}


/*719*/

@media all and (max-width: 719px) {
    .animation aside {
        top: 4px;
    }
}


/*830*/

@media only screen and (max-width: 51.875em) {}


/*880px*/

@media only screen and (max-width: 55em) {}


/*1100px*/

@media only screen and (max-width: 68.75em) {
    .footer {
        margin-top: 106px;
    }
    .footer:before {
        height: 28px;
        top: -28px;
    }
    .container {
        max-width: 100% !important;
    }
    .footer {
        margin-top: 106px;
    }
    .footer:before {
        height: 28px;
        top: -28px;
    }
    .heading4 {
        font-size: calc(22rem/16);
        line-height: calc(32/22);
    }
    .large {
        font-size: 1rem;
        line-height: calc(20/16);
    }
    .large2 {
        font-size: calc(22rem/16);
        line-height: calc(32/22);
    }
    .information {
        gap: 50px;
        grid-template-columns: 1fr;
    }
    .bottomInfo {
        margin-top: 0;
    }
    .menuFooter {
        display: block;
        max-width: 100%;
    }
    .menuFooter>li {
        margin-bottom: 50px;
    }
    .bottomInfo p {
        margin-bottom: 15px;
    }
}


/*1400px*/

@media only screen and (max-width: 87.5em) {}


/*1800px*/

@media only screen and (max-width: 112.5em) {}