:root {
    --purple: #7c00ff;
    --green: #4AFFD8;
    --accent: #EC4F70;
    --blue: #4461FB;
    --grey: #eaeaea;
    --milky-way: #f8f8fb;
    --yellow: #fddb60;
    --white: #ffffff;
    --black: #000;
    --blue-light: #8595e0;
    --body-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --heading-one: 68px;
    --heading-two: 48px;
    --heading-three: 32px;
    --heading-four: 24px;
    --heading-five: 18px;
    --body-bigger: 24px;
    --body-medium: 22px;
    --body: 18px;
    --scale: 1;
    --scale-nav-link: 1.125;
    --meta: 14px;
    --medium: 500;
    --bold: 600;
    --caption: 15px;
    --container: 1600px;
    --padding-mobile: 5%;
    --padding-tablet: 24px;
    --padding-desktop: 80px;
    --container: 1600px;
    --transition: cubic-bezier(0.24, 0.82, 0.43, 1.05);
}

@font-face {
    font-family: "Gilroy";
    src: url("/fonts/gilroy.woff2") format("woff2"), url("/fonts/gilroy.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

*,
 :active,
 :focus,
 :hover {
    outline: 0!important;
}

a:active,
a:focus,
a:hover {
    text-decoration: none;
}

a {
    color: var(--green);
    text-decoration: none;
    -moz-animation-direction: color .12s ease-in;
    transition: color .12s ease-in;
    font-weight: var(--medium);
}

a:hover {
    outline: 0;
}

body {
    margin: 0;
    background: color #f2f2f2;
    color: #333;
    font-size: 1.125rem;
    line-height: 1.5;
}

html {
    box-sizing: border-box;
    font-size: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #121e49;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Gilroy", Futura, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 0;
}

header,
section,
footer,
article {
    width: 100%;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}

p,
ul,
ol {
    letter-spacing: .5px;
    line-height: calc(26/16);
    margin: 0 0 24px;
}

li,
ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
}

::selection {
    background: rgba(68, 97, 251, 0.1);
}

address {
    font-style: normal;
    font-size: 1rem;
}

[type=button],
[type=reset],
[type=submit],
button {
    -webkit-appearance: button;
}

svg:not(:root) {
    overflow: hidden;
}

@media (min-width: 1080px) and (max-width: 1199.98px) {
     :root {
        --scale-nav-link: 1.1;
    }
}

.grid {
    padding-left: var(--padding-mobile);
    padding-right: var(--padding-mobile);
}