.hero {
    background: #fff;
    overflow: hidden;
    padding: 270px 0 171px;
    position: relative;
    z-index: 2;
}

.hero:before {
    background: #080F1E;
    content: "";
    height: calc(100% - 125/1440*100vw + 1px);
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.curve {
    bottom: 0;
    display: block;
    height: auto;
    left: 50%;
    min-width: calc(100vw + 10px);
    position: absolute;
    transform: translateX(-50%);
    width: 100vw;
}

.curve img {
    min-width: calc(100vw + 10px);
}


/*1100px*/

@media only screen and (max-width: 68.75em) {
    .hero {
        padding: 60px 0 220px;
    }
}


/*650*/

@media only screen and (max-width: 40.625em) {
    .hero {
        padding: 60px 0 220px;
    }
}