.grid {
    padding-left: var(--padding-mobile);
    padding-right: var(--padding-mobile);
}

.hero {
    background: #fff;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    z-index: 2;
}

.hero:before {
    background: #080F1E;
    content: "";
    height: calc(100% - 125/1440*100vw + 1px);
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.curve {
    bottom: 0;
    display: block;
    height: auto;
    left: 50%;
    min-width: calc(100vw + 10px);
    position: absolute;
    transform: translateX(-50%);
    width: 100vw;
}

.curve img {
    min-width: calc(100vw + 10px);
}

.hero {
    height: calc(100vh - 100px);
}

.heroContainer {
    margin: 0 auto;
    width: 100%;
    max-width: var(--container);
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.sectionContent {
    padding-bottom: 2.5rem;
    color: var(--white);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    height: 100%;
    position: relative;
    z-index: 1;
}

.contentWrapper {
    max-width: 650px;
}

.hero h1 {
    color: var(--milky-way);
    font-weight: 500;
    font-size: calc(var(--heading-one)*var(--scale));
    max-width: 100%;
    margin-bottom: 1.5rem;
    line-height: 1.1;
}

.subhead {
    color: var(--milky-way);
    font-size: calc(var(--body-medium)*var(--scale));
}

.subhead span {
    text-decoration: underline;
}

.animatedText {
    width: 450px;
    height: 40px;
    text-transform: uppercase;
    font-weight: var(--medium);
}

.commonLabel {
    position: relative;
    color: var(--white);
    text-transform: uppercase;
    pointer-events: none;
    font-weight: var(--medium);
    font-size: 0.875rem;
    letter-spacing: 0.063rem;
    margin-bottom: 1rem;
    opacity: .8;
    display: block;
}

.commonLabel span {
    text-transform: uppercase;
}

.heroLink {
    border-color: #4AFFD8;
}


/*1100px*/

@media only screen and (max-width: 68.75em) {
    /* .hero {
        padding: 60px 0 220px;
    } */
    .container {
        max-width: 100% !important;
    }
}


/*650*/

@media only screen and (max-width: 40.625em) {
    /* .hero {
        padding: 60px 0 220px;
    } */
    .container {
        padding: 0 20px;
    }
}


/*max 599px*/

@media (max-width: 599px) {
    .hero h1 {
        font-size: 1.875rem !important;
        margin-bottom: 12px;
    }
    .subhead {
        font-size: 1rem !important;
        margin-bottom: 15px;
    }
    .heroLink {}
}


/*max 719px*/

@media (max-width: 719px) {
    .hero h1 {
        font-size: 2.5rem;
        letter-spacing: -.0625rem;
    }
    .subhead {
        font-size: 1.125rem;
        line-height: calc(24/16);
    }
    .commonLabel {
        font-size: var(--meta);
    }
}


/*720px*/

@media (min-width: 720px) {
    .subhead {
        margin-bottom: 2.5rem;
    }
    .sectionContent {
        padding-bottom: 0;
        padding-top: 5rem;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}


/*480px - 1079*/

@media (min-width: 480px) and (max-width: 1079px) {
    .grid {
        padding-left: var(--padding-tablet);
        padding-right: var(--padding-tablet);
    }
}


/*1080px*/

@media (min-width: 1080px) {
    .hero {
        height: calc(100vh - 90px);
    }
    .grid {
        padding-left: var(--padding-desktop);
        padding-right: var(--padding-desktop);
    }
}