.BlogsContent {
    padding-top: var(--rowGapXLarge);
    padding-bottom: var(--rowGapXLarge);
}

.ThreePostColumn .grid {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    margin: 0;
    padding: 0;
}

.grid {
    padding-left: var(--padding-mobile);
    padding-right: var(--padding-mobile);
}

.container {
    max-width: var(--container);
    margin-left: auto;
    margin-right: auto;
}

.SectionContainer {
    clear: both;
    margin: 0 auto;
    max-width: 86%;
    padding: 0 50px;
    position: relative;
}


/*480px*/

@media (min-width: 480px) {
    .grid {
        padding-left: var(--padding-tablet);
        padding-right: var(--padding-tablet);
    }
}


/*720px*/

@media (min-width: 720px) {}


/*768px*/

@media (min-width: 768px) {
    .BlogsContent {
        padding-top: var(--rowGapXXLarge);
        padding-bottom: var(--rowGapXXLarge);
    }
}


/*1024 - 1439px*/

@media (min-width: 1024px) and (max-width: 1439px) {}


/*1080px*/

@media (min-width: 1080px) {
    .grid {
        padding-left: var(--padding-desktop);
        padding-right: var(--padding-desktop);
    }
}


/*1280px*/

@media (min-width: 1280px) {
    .BlogsContent {
        padding-top: var(--rowGapXXXXLarge);
        padding-bottom: var(--rowGapXXXXLarge);
    }
}


/*1440px*/

@media (min-width: 1440px) {}