.title {
    color: #333;
    padding-bottom: 20px;
    text-align: center;
    font-size: 104px;
    color: #EC4F70;
    line-height: 112px;
    letter-spacing: -0.01em;
    font-weight: normal;
}

.text {
    color: #777;
}

.btn {
    display: block;
    width: 150px;
    padding: 8px 0;
    margin: 20px auto;
    background: #4979ff;
    border-radius: 4px;
    color: white;
    text-align: center;
}

.not-found {
    text-align: center;
}

.not-found a {
    color: #4979ff;
    text-decoration: underline;
}