.menuDesktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header {
    align-items: center;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 99;
}

.logo {
    position: relative;
}

.header .accessibility {
    backface-visibility: hidden;
    left: -999999999px;
    position: absolute;
}

.grid {
    padding-left: var(--padding-mobile);
    padding-right: var(--padding-mobile);
}

.navbar {
    margin-left: 2.5rem;
    position: relative;
}

.linkEffect a {
    overflow: hidden;
}

.linkEffect a span {
    position: relative;
    display: block;
    -webkit-transition: -webkit-transform .8s var(--transition);
    transition: -webkit-transform .8s var(--transition);
    transition: transform .8s var(--transition);
    transition: transform .8s var(--transition), -webkit-transform .8s var(--transition);
}

.linkEffect a span:before {
    position: absolute;
    top: 100%;
    display: block;
    content: attr(data-hover);
    font-weight: 700;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    -webkit-transition: -webkit-transform 0.8s var(--transition);
    transition: -webkit-transform 0.8s var(--transition);
    transition: transform 0.8s var(--transition);
    transition: transform 0.8s var(--transition), -webkit-transform 0.8s var(--transition);
}

.linkEffect a:focus span,
.linkEffect a:hover span {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}

.navbarItem {
    position: relative;
    display: block;
    margin: .25rem 0;
}

.menuDesktop {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.menuDesktop .navbarItem {
    display: inline-block;
    margin: 0 .25rem;
}

.menuDesktop .navbarLinkItem,
.buttonStyle span {
    color: var(--white) !important;
}

.navbarLinkItem {
    position: relative;
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /*   */
    font-size: calc(1rem*var(--scale-nav-link));
    padding: 0 .25rem;
    margin-left: .25rem;
    margin-right: .25rem;
    letter-spacing: .01875rem;
    font-weight: 500;
    /* vertical-align: middle; */
}

.navbarLinkItem span {
    text-transform: capitalize;
}

.navbarLinkItem aside {
    display: block;
    position: relative;
    overflow: hidden;
    padding: 0 .01em 0 0;
}

.navbarLinkItem:hover span {
    color: var(--blue-light);
}

.hamburgerRow {
    position: fixed;
    right: var(--padding-mobile);
    pointer-events: none;
    z-index: 99;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: var(--container);
}

.hamburgerRow button {
    padding: 0;
}

.hamburgerButton {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
    top: 4px;
    cursor: pointer;
    pointer-events: all;
    border-radius: 100px;
    will-change: transform;
    margin-left: 1.25rem;
    -webkit-transition: -webkit-transform .6s;
    transition: transform .6s;
    transition: transform .6s, -webkit-transform .6s;
}

.hamburgerButton span {
    position: relative;
    display: block;
    width: 100%;
    height: 2px;
    margin: .375rem 0;
    top: 0;
    z-index: 1;
    -webkit-transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out, -webkit-transform .3s ease-out;
}

.hamburgerButton:before {
    content: "";
    position: absolute;
    top: -28px;
    left: -28px;
    right: -28px;
    bottom: -28px;
    border-radius: 50%;
    opacity: 0;
    -webkit-transform: scale(.7);
    transform: scale(.7);
    -webkit-transition: opacity .5s cubic-bezier(.65, .005, .35, .995), -webkit-transform .4s cubic-bezier(.65, .005, .35, .995);
    transition: transform .4s cubic-bezier(.65, .005, .35, .995), opacity .5s cubic-bezier(.65, .005, .35, .995), -webkit-transform .4s cubic-bezier(.65, .005, .35, .995);
    background-color: #4461FB;
}

.hamburgerButton:hover:before {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: .2;
}

.isOpen {
    background-color: var(--blue)!important;
    -webkit-transform: translateY(4px) rotate( 135deg);
    transform: translateY(4px) rotate( 135deg);
}

.isOpen:last-child {
    -webkit-transform: translateY(-4px) rotate( 45deg);
    transform: translateY(-4px) rotate( 45deg);
}

.isClosed {
    background-color: #fff;
}

.toggleButton {
    position: relative;
    display: table;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: unset;
    will-change: transform;
    margin-left: auto;
    padding-right: var(--padding-mobile)!important;
}

.buttonStyle {
    border: 0;
    color: inherit;
    background: 0 0;
    line-height: inherit;
    text-transform: upp;
    letter-spacing: inherit;
    font-size: var(--meta);
    font-weight: var(--bold);
    letter-spacing: .0625rem;
    overflow: unset;
    border-radius: 4px;
    text-transform: uppercase;
    padding: 1rem 2rem;
    text-align: center;
}

button .hamburgerText {
    position: relative;
    z-index: 1;
}

.hamburgerText {
    padding: 0;
    margin: 0;
    position: relative;
    top: -5px;
    color: #000;
    text-transform: none;
    font-weight: var(--medium);
}

.Opacity {
    opacity: .8;
}

.NotOpacity {
    opacity: 0;
}

.sidebar {
    position: fixed;
    pointer-events: none;
    z-index: 1;
    -webkit-transition: width .5s cubic-bezier(.65, .005, .35, .995), opacity .5s cubic-bezier(.65, .005, .35, .995);
    transition: width .5s cubic-bezier(.65, .005, .35, .995), opacity .5s cubic-bezier(.65, .005, .35, .995);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

.sidebarVisable {
    position: fixed;
    z-index: 1;
    -webkit-transition: width .5s cubic-bezier(.65, .005, .35, .995), opacity .5s cubic-bezier(.65, .005, .35, .995);
    transition: width .5s cubic-bezier(.65, .005, .35, .995), opacity .5s cubic-bezier(.65, .005, .35, .995);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 1 !important;
    visibility: visible !important;
    pointer-events: all !important;
}

.sidebarWrapper {
    position: fixed;
    height: 100%;
    top: 0;
    right: 0;
    overflow: hidden;
    will-change: transform;
    -webkit-transition: .5s cubic-bezier(.65, .005, .35, .995);
    transition: .5s cubic-bezier(.65, .005, .35, .995);
}

.sidebarWrapperContainer {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    height: 100%;
    width: 100%;
    right: 0;
    padding: 2.5rem;
}

.navAnimated {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    -webkit-transition: opacity .2s cubic-bezier(.75, .25, .25, .75), -webkit-transform .3s cubic-bezier(.75, .25, .25, .75);
    transition: opacity .2s cubic-bezier(.75, .25, .25, .75), transform .3s cubic-bezier(.75, .25, .25, .75), -webkit-transform .3s cubic-bezier(.75, .25, .25, .75);
}

.navAnimatedOpen {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
}

.navBg {
    background-color: rgba(0, 0, 0, .2);
    position: absolute;
    z-index: -1;
    -webkit-transition: .6s;
    transition: .6s;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 1;
    visibility: visible;
}

.sidebarNav {
    position: relative;
    margin-bottom: 2.5rem;
}

.sidebarNav .navbarLinkItem {
    position: relative;
    font-size: calc(var(--heading-three)*var(--scale));
    color: var(--black) !important;
    padding: 0;
    margin: 0 0 .5rem;
    display: block;
}

.sidebarNav .navbarLinkItem:hover span {
    color: var(--blue);
}

.moreLinks {
    position: relative;
    border-top: 1px solid var(--grey);
    margin-bottom: 1.5rem;
    padding-top: 1.5rem;
}

.moreLinks .navLink {
    padding: .5rem 0;
    margin: 0;
    display: table;
    color: inherit;
}

.moreLinks .navLink:hover {
    color: var(--blue);
}

.badge {
    font-size: .875rem;
    font-weight: var(--bold);
    display: inline-table;
    pointer-events: none;
    position: relative;
    line-height: 1.5;
    padding: .125rem .375rem .1875rem;
    letter-spacing: .0625rem;
    min-height: 26px;
    background: var(--yellow);
    color: var(--black);
}


/*1100px*/

@media only screen and (max-width: 68.75em) {}


/*1080px*/

@media (min-width: 1080px) {
    .grid {
        padding-left: var(--padding-desktop);
        padding-right: var(--padding-desktop);
    }
    .toggleButton {
        padding-right: var(--padding-desktop)!important;
    }
}

@media (min-width: 480px) and (max-width: 1079px) {
    .grid {
        padding-left: var(--padding-tablet);
        padding-right: var(--padding-tablet);
    }
    .toggleButton {
        padding-right: var(--padding-tablet)!important;
    }
}


/*720px*/

@media (min-width: 720px) {
    .sidebarWrapperContainer {
        width: 620px;
        padding: 5rem;
    }
    .sidebarNav .navbarLinkItem {
        font-size: calc(var(--heading-two)*var(--scale));
    }
    .sidebarWrapperRwd {
        width: 620px;
        -webkit-transition: width .5s cubic-bezier(.4, 0, .1, 1);
        transition: width .5s cubic-bezier(.4, 0, .1, 1);
    }
}


/*719*/

@media all and (max-width: 719px) {
    .navbar {
        display: none;
    }
    .sidebarWrapper {
        width: 100% !important;
    }
}