.navigation {
    margin: 10px auto 80px;
    padding: 10px 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    border-bottom: 1px solid #ddd;
}

.navigation a {
    margin-left: 12px;
    color: rgb(0, 255, 34);
}

.navigation .logo {
    margin-right: auto;
}